<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EpicTask</title>
<link th:href="style.css" rel="stylesheet" />
</head>
<body>

	<h1>EpicTask</h1>
	<h2 th:text="#{subtitle.task}"></h2>
	<div class="start">
		<ul>
			<li><a href="/list" th:text="#{menu.a}"></a></li>
			<li><a href="/register" th:text="#{menu.b}"></a></li>
			<li><a href="/taskregister" th:text="#{menu.c}"></a></li>	
			<li><a href="/task" th:text="#{menu.d}"></a></li>		
		</ul>
	</div>
	
	
	<div class="cttgroup">
		
		<img th:src="ctt-logo.svg" id="cttimg">
		<h3>Caramel Turn Trash</h3>
		
		<p>86062 - Leonardo Andrade Antunes de Bem</p>
		<p>85521 - Martin david Valdes Olcese</p>
		<p>82172 - Henrique Sartal Santos</p>
		<p>85744 - João Carlos Melo Azevedo</p>
		<p>84314 - Iago Manholetti Alexandrino</p>
		<p>85569 - Gustavo Gonçalves de Araujo</p>
		<p>84254 - José Dijalbas Francisco dos Santos Bezerra</p>
	</div>


</body>
</html>