<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EpicTask - Registro</title>
<link th:href="style.css" rel="stylesheet" />
</head>
<body>

	<h1 th:text="#{title.task.b}"></h1>
	<h2 th:text="#{subtitle.task.b}"></h2>
 
	<div class="info">
		<form th:action="@{/list}" method="post" th:object="${account}">
		
			<input name="nome" placeholder="Nome" th:field="*{nome}">
			<h4 th:errors="*{nome}"></h4>
			
			<input name="email" placeholder="Email" th:field="*{email}">
			<h4 th:errors="*{email}"></h4>
			
			<input type="text" name="githubuser" id="githubuser" placeholder="Usuário do GitHub" th:field="*{githubuser}" th:classappend="${#fields.hasErrors('githubuser')}?invalid"	autocomplete="off"/>
			<span class="error" th:errors="*{githubuser}"></span>
			
			<input name="senha" placeholder="Senha" type="password" th:field="*{senha}">
			<h4 th:errors="*{senha}"></h4>
			
			<a href="/list">Listagem</a>
			<button>Cadastrar</button>
			
		</form>
	</div>
	<div class="cttgroup">
		<a href="/home"><< Início</a>
	</div>

</body>
</html>